{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}{% include 'pv/adminstatus.html' %}


<div class="row">
    <div class="col">

        <div class="card card-body">
            <h4 style="margin-top: 0">FILTER</h4>
            <form method="get">
                <div class="form-row">
                    <div class="form-group col-md-2 mb-0 ">
                        {{ myFilter.form.Pv_reference|as_crispy_field }}

                    </div>

                    <div class="form-group-sm col-md-2 mb-0">
                        {{ myFilter.form.Type_of_pv|as_crispy_field }}
                    </div>
                    <div class="form-group-sm col-md-2 mb-0">
                        {{ myFilter.form.Status|as_crispy_field }}

                    </div>
                    <div class="form-group-sm col-md-3 mb-0">
                        {{ myFilter.form.start_date|as_crispy_field }}

                    </div>
                    <div class="form-group-sm col-md-3 mb-0">
                        {{ myFilter.form.end_date|as_crispy_field }}

                    </div>

                </div>


                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </form>
        </div>
    </div>

</div>

<div class="card border-0">
    {% for group in user.groups.all %} {% if group.name == 'director' %}
    <div class="card-header">
        <h4 class="  text-dark d-flex justify-content-center">Total Registered Pv </h4>
    </div>


    {% endif %} {% endfor %}


    <div class="card-body">
        <table id="example2" class="table  table-hover ">
            <tr>

                <thead class="thead-light  success">
                    <tr>
                        <th scope="col">Pv Reference</th>
                        <th scope="col">Description</th>
                        <th scope="col">IA code</th>
                        <th scope="col">Gross Amount(GH&#8373) </th>
                        <th scope="col">Tax (GH&#8373) </th>
                        <th scope="col">Net Amount (GH&#8373) </th>
                        <th scope="col">Accountable impress</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        {% for group in user.groups.all %} {% if group.name == 'principal' %}
                        <th scope="col"></th>
                        {% endif %} {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for pv in users %}
                    <tr>
                        <td>{{pv.Pv_reference}}</td>
                        <td>{{pv.Description}}</td>
                        <td>{{pv.IA_code}}</td>
                        <td> {{pv.Gross_amount}} </td>
                        <td> {{pv.Withholding_tax}}</td>
                        <td> {{pv.Net_amount}}</td>
                        <td>{{pv.Acc_Impress}}</td>
                        <td>

                            {% if pv.Status == 'Completed' %}
                            <span class="badge bg-success">{{pv.Status}}</span> {% elif pv.Status == 'Returned' %}
                            <span class="badge bg-warning">{{pv.Status}}</span> {% else %}
                            <span class="badge bg-danger">{{pv.Status}}</span> {% endif %}
                        </td>



                        {% for group in user.groups.all %} {% if group.name == 'principal' %}
                        <td>
                            {% if pv.Type_of_pv == 'General' %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:pv-detail' pk=pv.IA_System_Code  %} " style="background-color:gray; color:white;">View</a> {% else %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:hondetails' pk=pv.IA_System_Code  %} " style="background-color:gray; color:white;">View</a> {% endif %}
                        </td>
                        <td>
                            {% if pv.Type_of_pv == 'General' %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:pvupdate' pk=pv.IA_System_Code  %} " style="background-color:#12b056; color:white;">Update</a> {% else %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:hunupdate' pk=pv.IA_System_Code  %} " style="background-color:#12b056; color:white;">Update</a> {% endif %}
                        </td>
                        {% else %}
                        <td>
                            {% if pv.Type_of_pv == 'General' %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:pv-detail' pk=pv.IA_System_Code  %} " style="background-color:gray; color:white;">View</a> {% else %}
                            <a class="btn btn-xs btn-sm accent-white" href="{% url 'pv:hondetails' pk=pv.IA_System_Code  %} " style="background-color:gray; color:white;">View</a> {% endif %}
                        </td>
                        
                        {% endif %} {% endfor %}

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center ">No Registerd Pvs</td>
                    </tr>
                    {% endfor %}
                </tbody>

        </table>
        <div class="card-footer navbar-white accent-success">
            <div class="pagination pagination-sm m-0 float-right">
                <span class="step-links">
                    {% if users.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ users.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ users.number }} of {{users.paginator.num_pages }}.
                    </span>
            
                    {% if users.has_next %}
                        <a href="?page={{ users.next_page_number }}">next</a>
                        <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}